.idea
simulation/Cargo.lock
simulation/target
dsl_sim/.gradle
/dsl_sim/lib/.jqwik-database
OuizjaUI/.idea
OuizjaUI/.gradle
OuizjaUI/.kotlin
OuizjaUI/build
OuizjaUI/shared/build
OuizjaUI/desktopApp/build
